<div class="modal fade" id="hinne-delete-modal-confirm" tabindex="-1" aria-labelledby="hinne-delete-modal-confirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="hinne-delete-confirm-title">Kas olete kindel, et soovite hinde kustutada?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Sulge"></button>
            </div>

            <div class="modal-body">
                <p>Seda tegevust ei saa tagasi võtta.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tühista</button>
                <button type="button" class="btn btn-danger">Kustuta</button>
            </div>
        </div>
    </div>
</div>
