{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load django_bootstrap5 %}

{% block title %}Avaleht{% endblock %}

{% block content %}
    {% include 'hinded/delete_hinne_confirm.html' %}
    {% include 'hinded/delete_isik_confirmation.html' %}
    {% if user.is_authenticated %}
        <div style="overflow-x: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Õpilane</th>
                        {% for hinne in hinded %}
                            <th scope="col">
                                <div data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<b>Aine:</b> {{ hinne.aine|escape }} <br/> <b>Kirjeldus:</b> {{ hinne.kirjeldus|escape }}">{{ hinne.nimi }}</div>
                                <br/>
                                <a href="{% url 'update_hinne' pk=hinne.id %}" class="btn" data-bs-toggle="tooltip" data-bs-title="Muuda">{% bs_icon 'pencil-square' color='blue' %}</a>
                                <br/>
                                <a href="{% url 'mass_add_hinded' pk=hinne.id %}" class="btn" data-bs-toggle="tooltip" data-bs-title="Lisa hindeid hulgi">{% bs_icon 'person-fill' color='gray' %}</a>
                                <br/>
                                <span data-bs-toggle="modal" data-bs-target="#hinne-delete-modal-confirm">
                                    <button class="btn delete-hinne" data-bs-toggle="tooltip" data-bs-title="Kustuta" data-delete-action="{% url 'delete_hinne' pk=hinne.id %}">
                                        {% bs_icon 'trash-fill' color='red' %}
                                    </button>
                                </span>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for isik, hinded in isikud.items %}
                        <tr>
                            <th scope="row">
                                {{ isik.0 }}
                                <br/>
                                <a href="{% url 'update_isik' pk=isik.1 %}" class="btn">{% bs_icon 'pencil-square' color='blue' %}</a>
                                <span data-bs-toggle="modal" data-bs-target="#isik-delete-modal-confirm">
                                    <button class="btn delete-isik" data-delete-action="{% url 'delete_isik' pk=isik.1 %}">
                                        {% bs_icon 'trash-fill' color='red' %}
                                    </button>
                                </span>
                            </th>
                            {% for hinne in hinded %}
                                <td style="width: 5%;">
                                {% if not hinne.vaartus %}
                                    <a href="#">{% bs_icon 'plus-square-fill' color='gray' %}</a>
                                {% else %}
                                    {% with icon=hinne.vaartus|lower|add:"-square-fill" %}
                                    <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ hinne.markmed|default:'-' }}">
                                        {% bs_icon icon color=hinne.varv size='1.5em' %}
                                    </a>
                                    {% endwith %}
                                {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Hinnete nägemiseks peate sisse logima.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
    $(document).on('click', '.delete-hinne', function() {
        document.getElementById('delete-hinne-form').action = $(this).data('deleteAction');
    });

    $(document).on('click', '.delete-isik', function() {
        document.getElementById('delete-isik-form').action = $(this).data('deleteAction');
    });

    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
    </script>
{% endblock %}
